body {
  margin: 0;
  padding: 0;
}

header,
main,
footer {
  width: 98%;
  margin: 0 auto;
}

input {
  background: #1aab8a;
  color: #fff;
  border: none;
  position: relative;
  height: 60px;
  font-size: 1.6em;
  padding: 0 2em;
  cursor: pointer;
  transition: 800ms ease all;
  outline: none;
  appearance: none;
  -webkit-appearance: none;
}
input:hover {
  background: #fff;
  color: #1aab8a;
}
input:before,
input:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  background: #1aab8a;
  transition: 400ms ease all;
}
input:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}
input:hover:before,
input:hover:after {
  width: 100%;
  transition: 800ms ease all;
}
